
h1 {
color: offwhite;
text-align: center;
}


body {
  text-align: center;
  background-color: #1e1c1e;
  color: antiquewhite;
  font-size: 24px;
  margin:50px;
  color: antiquewhite;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: center;
}

a:hover {
  color: black;
}

.previous {
  color: black;
}

.next {
  color: white;
}



