
h1 {
color: darkred;
text-align: center;
}


body {
  background-color: rgb(230,225,225);
  color: darkred;
  font-size: 24px;
  margin:50px;
  color: darkblue;
}
  }

  .center {
border: 1px solid indianred;
text-align: center;
}

p {
  margin-top: 10;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;

}