 @import url("https://use.typekit.net/iem4fht.css");

body {
  font-family: letter-gothic-std, monospace;
 font-weight: 400;
 font-style: normal;
  background-color: black;
  color: darkred;
  font-size: 75 px;
  line-height: 1 em;
  margin:50px;
  color: yellowgreen;
}

@media all and (max-width: 500px) {
  body {
    font-size: 100px;
  line-height: 1.5 em;
  }
}

main {
  font-size: 20px;
  margin: 25px 0;
  padding: 30px;

}

.center {
  margin: 0 auto;
  width: 200px;
  background: black;
  padding: px;


