
body {
  background-color: black;
  color: mediumvioletred;
  font-size: 24px;
  margin:50px;
  color: orangered;
}

main {
  margin: 25px 0;
  padding: 110px;
}

.center {
  margin: 0 auto;
  width: 200px;
  background: black;
  padding: px;
  
}

